.Die {
    font-size: 10em;
    padding: 0.25em;
    color: slateblue;
}

.shaking {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes shake {
    from {
        transform: translate3d(0, 0, 0);
    }

    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(-5, 20, -10, -5deg);
    }

    30% {
        transform: translate3d(20%, 0, 0) rotate3d(5, -10, -5, 10deg);
    }

    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(-5, 10, -5, 5deg);
    }

    60% {
        transform: translate3d(10%, 0, 0) rotate3d(-5, 10, -5, -3deg);
    }

    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(5, -10, -5, 2deg);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}